.home-top {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: none;
  padding: none;
  background: url("../IMG/church-bg.jpg");
  background-position: center;
  background-size: cover;
  z-index: -99;
  position: absolute;
  top: 0;
  left: 0;
}
.home-overlay {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.home-jumbo {
  position: absolute;
  height: 400px;
  margin-top: -200px;
  top: 30%;
  width: 90%;
  left: 50%;
  margin-left: -45%;
}
.home-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.left-header {
  font-weight: bold;
  font-size: 55px;
  color: #fcfcfc;
}
.jumbo-btn {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fcfcfc;
  cursor: pointer;
  transition: 0.12s;
}
.home-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
  /* background-color: red; */
}
.next-day {
  font-weight: bold;
  font-size: 23px;
  color: #fcfcfc;
}
.next-month {
  font-weight: bold;
  font-size: 40px;
  color: #fcfcfc;
}
.countdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.countdown-value {
  font-size: 48px;
  color: #fcfcfc;
  font-weight: 500;
}
.countdown-unit {
  font-weight: bold;
  font-size: 15.5px;

  color: rgba(204, 204, 204, 0.77);
}
.countdown-dot {
  color: #fcfcfc;
  font-size: 10px;
}
.home-scripture {
  font-size: 17px;
  text-align: center;
  color: #fcfcfc;
  position: absolute;
  bottom: 20px;
  width: 84vw;
  margin-left: -42vw;
  left: 50%;
}
.meet-the-team {
  margin-top: 100vh;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 60px 0px;
}
.team {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team-row {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.teammate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 280px;
  box-sizing: border-box;
  width: 280px;
  margin-bottom: 20px;
}
.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.teammate-name {
  font-weight: bold;
  font-size: 25px;

  color: #1d1c1c;
}
.team-position {
  font-size: 13px;
  color: rgba(51, 16, 68, 0.66);
  font-weight: bold;
}
.our-services {
  padding: 60px 0px;
}
.service-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}
.service-card-container-left {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 40px 0px;
}
.service-card-container-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 40px 0px;
}
.service-card {
  width: 600px;
  height: 290px;
  display: flex;
  background: #ffffff;
}
.service-card-img {
  width: 60%;
  height: 100%;
  object-fit: cover;
}
.service-card-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 35px 5%;
  box-sizing: border-box;
}
.service-card-right {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-card-header {
  font-weight: bold;
  font-size: 2.3rem;

  color: #331044;
}
.service-time {
  font-weight: 700;
  font-size: 2.7rem;
  color: #1d1c1c;
}
.service-card-text {
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}
.card-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
@media screen and (max-width: 1050px) {
  div.team-row-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  div.home-jumbo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top: -250px;
    top: 50%;
  }
  div.home-flex {
    flex-direction: column;
    align-items: flex-start;
    height: 400px;
  }
  span.left-header {
    font-size: 40px;
  }
  span.next-month {
    font-size: 30px;
  }
  span.next-day {
    font-size: 20px;
  }
}
@media screen and (max-width: 660px) {
  div.service-card {
    width: 100%;
    height: 650px;
    flex-direction: column;
  }
  img.service-card-img {
    width: 100%;
  }
  div.service-card-right-container {
    width: 90%;
  }
  div.service-card-right {
    flex-direction: row;
    align-items: flex-end;
  }
}
@media screen and (max-width: 500px) {
  div.team-row {
    flex-direction: column;
  }
}
