a {
  text-decoration: none !important;
}
.nav {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  top: 30px;
}
.nav-item {
  font-weight: bold;
}
.nav-item a {
  color: #fcfcfc;
}
@media screen and (max-width: 550px) {
  div.nav {
    flex-direction: column;
    margin: 0px;
    right: 20px;
    left: unset;
    width: fit-content;
    height: 100px;
    top: 20px;
  }
}
